<a href="https://colab.research.google.com/github/valihuseyin/AI_101/blob/main/RacingBars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#pip install ffmpeg

In [3]:
#pip install bar_chart_race

In [5]:
import pandas as pd

In [6]:
import bar_chart_race as bcr

In [7]:
df=pd.read_csv('corona_dat.csv')

In [8]:
df.sample()

,date,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,Uruguay,US,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
72,4/3/2020,8,41,205,18,0,6,145,83,347,...,35,33776,22,18,14,36,0,0,2,0

In [9]:
df2 = df[['date','China','Italy','Turkey','Spain','US']]

In [10]:
df2.set_index('date',inplace=True)

In [11]:
toplam=df2.cumsum(axis=0)

In [12]:
bcr.bar_chart_race(df=toplam,filename='corona.mp4',figsize=(10,8),title="HÃ¼seyin")

/usr/local/lib/python3.12/dist-packages/bar_chart_race/_make_chart.py:889: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_values.iloc[:, 0] = df_values.iloc[:, 0].fillna(method='ffill')
/usr/local/lib/python3.12/dist-packages/bar_chart_race/_make_chart.py:286: UserWarning: set_ticklabels() should only be used with a fixed number of ticks, i.e. after set_ticks() or using a FixedLocator.
  ax.set_yticklabels(self.df_values.columns)
/usr/local/lib/python3.12/dist-packages/bar_chart_race/_make_chart.py:287: UserWarning: set_ticklabels() should only be used with a fixed number of ticks, i.e. after set_ticks() or using a FixedLocator.
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))